@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h1 class="display-4">学习ASP.NET 测试用</h1>
    <p>从 <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> 中学习.</p>
</div>
